<div class="header">
    <div class="row">
        <div class="col-xs-9">
            <h4 class="text-left margin-bottom-xs">WHERE ???</h4>
            <h5>Restro, Bars, Shopping mall</h5>
        </div>
        <div class="col-xs-3 text-right" ng-click="page.next(3)">
            <a class="display-inline-block margin-top-xs"><i class="material-icons">arrow_forward</i></a>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="plan-cards plan-cards--no-border">
                <div class="form-group">
                    <h5 class="margin-bottom-xs">Budget</h5>
                    <input ng-model="dealsPage.price" type="text" class="form-control form-control--black" placeholder="Enter your budget">
                </div>
                <div class="form-group position-relative">
                    <input ng-model="dealsPage.searchkey" class="location form-control form-control--black" placeholder ="Select a place" ng-keyup="fetchSuggestions(dealsPage.searchkey)"/>
                    <ul ng-if="suggestions.length" class="dropdown-menu dropdown-menu-active">
                        <li ng-repeat="sug in suggestions" ng-click="selectLocation(sug)"><a >{{sug.location}}</a></li>
                </ul>
                </div>

                <!-- Deal Cards -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card--inner">
                            <a href="#" class="">
                                <div class="card__image">
                                    <img src="images/deal-card.jpg" alt="deal-image" class="img-responsive">
                                    <span class="card__discount icon-s">80% OFF</span>
                                </div>

                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <h5 class="card__title margin-bottom-xs">Smaaash </h5>
                                            <p class="card__location">DLF City Phase 2</p>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            <h4 class="txt-right txt-brand-secondary font-weight-600">₹ 400</h4>
                                        </div>
                                    </div>

                                    <p class="card__description margin-bottom-xs margin-top-xs">Lunch &amp; Dinner Buffets, Arcade Games</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card--inner">
                            <a href="#" class="">
                                <div class="card__image">
                                    <img src="images/deal-card.jpg" alt="deal-image" class="img-responsive">
                                    <span class="card__discount icon-s">80% OFF</span>
                                </div>

                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <h5 class="card__title margin-bottom-xs">Smaaash </h5>
                                            <p class="card__location">DLF City Phase 2</p>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            <h4 class="txt-right txt-brand-secondary font-weight-600">₹ 400</h4>
                                        </div>
                                    </div>

                                    <p class="card__description margin-bottom-xs margin-top-xs">Lunch &amp; Dinner Buffets, Arcade Games</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
