<div class="header">
    <div class="row">
        <div class="col-xs-9">
            <h4 class="text-left margin-bottom-xs">WHERE ???</h4>
            <h5>Restro, Bars, Shopping mall</h5>
        </div>
        <div class="col-xs-3 text-right" ng-click="page.next(3)">
            <a class="display-inline-block margin-top-xs"><i class="material-icons">arrow_forward</i></a>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="plan-cards plan-cards--no-border">
                <div class="form-group">
                    <input type="text" class="location form-control form-control--black" placeholder="Select a place"/>
                </div>

                <!-- Deal Cards -->
                <div class="row" ng-repeat="deal in deals">
                    <div class="col-xs-12">
                        <div class="card--inner">
                            <a ng-click="selectDeal(deal)">
                                <div class="card__image">
                                    <img src="{{deal.imageUrl}}" alt="deal-image" class="img-responsive">
                                    <span class="card__discount icon-s">{{deal.discount}}% OFF</span>
                                </div>

                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <h5 class="card__title margin-bottom-xs" ng-bind="deal.merchantTitle">Smaaash </h5>
                                            <p class="card__location" ng-bind="deal.location">DLF City Phase 2</p>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            <h4 class="txt-right txt-brand-secondary font-weight-600">₹ {{deal.price}}</h4>
                                        </div>
                                    </div>
                                    <p class="card__description margin-bottom-xs margin-top-xs" ng-bind="deal.title"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>