<div class="header">
    <div class="row">
        <div class="col-xs-9">
            <h4 class="text-left margin-bottom-xs">Thank You</h4>
            <h5>Let's go and have fun</h5>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="plan-cards plan-cards--no-border">
                <div class="msg__icon margin-bottom-s text-center">
                    <i class="material-icons font-size-40 txt-brand-secondary">check_circle</i>
                </div>
                <h4 class="msg__heading modal-heading form-group text-center"> Awesome, we are all set!</h4>
                <h5 class="margin-bottom-s">Contacting ...</h5>
                <ul class="list-block">
                    <li class="margin-bottom-xs" ng-repeat="o in details">{{o.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>