<div>WITH</div>
<div>
    <input type="text" ng-model="contactPage.minfriends" ng-keyup="declareMinFriend()"/> <div>{{cashback}}% cashback</div>
    <div ng-repeat="c in contacts">
        <div ng-click="selectFriends(c)">
            <input type="checkbox" ng-disabled="allDisabled" ng-checked="c.checked" >
            <span>{{c.displayName}}</span>
            <span>{{c.phoneNumbers[0].value}}</span>
        </div>
    </div>
</div>

<div>
    <div>
        <h4>WITH ???</h4>
        <h5>Family, Friends, Colleagues</h5>
    </div>
    <div>
        <div>
            <div>


                <div>
                    <div>
                        <div>
                            <div>
                                <input type="text">
                            </div>
                            <div>
                                <label>20% Cashback</label>
                            </div>
                        </div>
                    </div>

                    <h4>Contacts</h4>
                    <ul>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span></span>
						    <span>
						    <i>check</i>
						    </span>
                                <span>Anurag</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span></span>
						    <span>
						    <i>check</i>
						    </span>
                                <span>Rajeev</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span></span>
						    <span>
						    <i>check</i>
						    </span>
                                <span>Gopal</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span></span>
						    <span>
						    <i>check</i>
						    </span>
                                <span>Snehesh</span>
                            </label>
                        </li>
                        <ul>
                        </ul></ul></div>
            </div>
        </div>
    </div>
</div>
